name: CI

on:
  pull_request:
    branches:
    - master
    paths-ignore:
    - 'README.md'
    - 'LICENSE'
    - 'CODE_OF_CONDUCT.md'
    - 'CONTRIBUTING.md'

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    container:
      image: elixir:1.10.2-slim
    services:
      postgres:
        image: postgres:10.4
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: liquid_voting_test
        ports:
          - 5432:5432
        # postgres container doesn't provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Tests
      run: mix test
      env:
        MIX_ENV: test
        # refers to the service name, since we're running on containers
        POSTGRES_HOST: postgres

  linting:
    name: Linting
    runs-on: ubuntu-latest
    container:
      image: elixir:1.10.2-slim
    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Formatter
      run: mix format --check-formatted

  smoke_tests:
    name: Smoke Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        repository: liquidvotingio/deployment
        token: ${{ secrets.DEPLOYMENT_PAT }}
    - name: Run k6 smoke tests
      uses: k6io/action@v0.1
      env:
        TEST_API_AUTH_KEY: ${{ secrets.TEST_API_AUTH_KEY }}
      with:
        path: deployment
        filename: deployment/smoke_tests/smoke_tests.js
    - name: Login to gcloud
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '270.0.0'
        service_account_email: ${{ secrets.GKE_EMAIL }}
        service_account_key: ${{ secrets.GKE_KEY }}
    - name: Teardown smoke test data
      env:
        GKE_CLUSTER: ${{ secrets.GKE_CLUSTER }}
        GKE_ZONE: ${{ secrets.GKE_ZONE }}
        GKE_PROJECT: ${{ secrets.GKE_PROJECT }}
      run: |
        gcloud container clusters get-credentials $GKE_CLUSTER --zone $GKE_ZONE --project $GKE_PROJECT
        pod=$(kubectl get pods -l app=api  -o json | jq -r '.items[].metadata.name' | head -1)
        kubectl wait --timeout=120s --for=condition=Ready pod/$pod
        kubectl exec -ti pod/$pod \
        --container api-container \
        -- /opt/app/bin/liquid_voting \
        eval "LiquidVoting.Release.smoke_test_teardown"